<!--<p>encrypt works!</p>-->

<form>
  <div class="container" style="width:500px; margin:50px 500px auto 500px;">
      <div>
          Upload plaintext file : <input type="file" id="plaintextFile" (change)="selectFile($event)" required>
        </div>
      <div>
      <br>
        Enter UniqueIdentifier/ PublicKeyUniqueIdentifier : <input type="text" name="uniqueIdentifier" [(ngModel)]="uniqueIdentifier" required>
      </div>
      <br>
      <button (click)=encryptFile() class="btn btn-success" style="margin-right: 30px">
        Encrypt File
      </button> 

      <button (click)=downloadFile() class="btn btn-success" >
          Download
      </button>
  </div>
</form>


